<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Required on Android 13+ to show push notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".PrimeApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentPortal"
        tools:targetApi="35">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.StudentPortal.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />

        <activity
            android:name=".ui.notices.NoticeDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.notifications.NotificationsActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.settings.ChangePasswordActivity"
            android:exported="false"
            android:parentActivityName=".ui.settings.SettingsActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.feature.FeatureActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.courses.RegisteredCoursesActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.idcard.IdCardActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />

        <!-- Staff / Employee view -->
        <activity
            android:name=".ui.staff.StaffMainActivity"
            android:exported="false" />

        <activity
            android:name=".ui.staff.attendance.StaffAttendanceActivity"
            android:exported="false"
            android:parentActivityName=".ui.staff.StaffMainActivity" />

        <activity
            android:name=".ui.staff.attendance.StudentAttendanceActivity"
            android:exported="false"
            android:parentActivityName=".ui.staff.StaffMainActivity" />

        <activity
            android:name=".ui.staff.attendance.TakeStudentAttendanceActivity"
            android:exported="false"
            android:parentActivityName=".ui.staff.attendance.StudentAttendanceActivity" />

        <activity
            android:name=".ui.staff.leave.LeaveActivity"
            android:exported="false"
            android:parentActivityName=".ui.staff.StaffMainActivity" />

        <activity
            android:name=".ui.staff.leave.LeaveApplyActivity"
            android:exported="false"
            android:parentActivityName=".ui.staff.leave.LeaveActivity" />

        <activity
            android:name=".ui.staff.leave.LeaveApprovalsActivity"
            android:exported="false"
            android:parentActivityName=".ui.staff.StaffMainActivity" />

        <!-- Firebase Cloud Messaging: receives push notifications from the
             admin panel's App Notification module. -->
        <service
            android:name=".messaging.PushMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="pu_announcements" />

    </application>

</manifest>
